/* Logo John */
.logo-john {
  color: var(--color-white);
}

/* Dropdown */
.dropdown {
  position: relative;
  width: 100%;
  height: fit-content;

  color: var(--color-dark);
  background-color: var(--color-white);
  overflow: hidden;
}

.dropbtn {
  cursor: pointer;
}

.dropbtn h3 {
  color: var(--color-dark);
}

.dropbtn:hover h3,
.dropbtn:hover .icon-dropbtn {
  opacity: 0.6;
}

.icon-dropbtn {
  height: 20px;
  --icon-color: var(--color-dark);
}

.dropdown-content {
  padding: 0 0.875rem;
  max-height: 0;
  opacity: 0;
}

.dropdown.open .dropdown-content {
  max-height: 500px;
  opacity: 1;
  padding: 0.875rem;
}

.dropdown.open .icon-dropbtn {
  transform: rotate(180deg);
}

/* Card */
.card {
  width: 100%;
  max-width: 480px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
}

/* Light Box */
.lightbox {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;

  background: #000000cd;
  z-index: 50;
}

.lightbox img {
  width: 100%;
  max-width: 800px;
  object-fit: contain;
}

.lightbox span {
  position: absolute;
  top: 30px;
  right: 40px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 2.125rem;
}

/* Contact Copy */
.copy-contact {
  background-color: var(--color-opa-dark);
  border: dashed 1px var(--color-opa-white);

  cursor: pointer;
}

.copy-contact:hover h2 {
  transform: scale(0.96);
}

/* Text Link */
.text-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
