@import url("components.css");
@import url("utilities.css");

@font-face {
  font-family: "BDO Grotesk";
  src: url(../fonts/BDOGrotesk-VF.ttf) format("truetype");
}

@font-face {
  font-family: "Instrument Serif";
  src: url(../fonts/InstrumentSerif-Regular.ttf) format("truetype");
}

/* Dark Theme */
[data-theme="dark"] {
  /* Primary Color */
  --color-dark: #0a0a0a;
  --color-white: #ffffff;

  /* Opa Color */
  --color-opa-dark: #00000030;
  --color-opa-white: #ffffff30;
}

/* Light Theme */
[data-theme="light"] {
  /* Primary Color */
  --color-dark: #ffffff;
  --color-white: #0a0a0a;

  /* Opa Color */
  --color-opa-dark: #ffffff30;
  --color-opa-white: #00000030;
}

:root {
  /* Font Family */
  --font-family-primary: "BDO Grotesk", "Arial", sans-serif;
  --font-family-secondary: "Instrument Serif", serif;

  /* Font Size */
  --font-size-p: 1rem;
  --font-size-h1: 6.875rem;
  --font-size-h2: 4.75rem;
  --font-size-h3: 1.25rem;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-bold: 500;

  /* Line heights */
  --line-height-title: 90%;
  --line-height-sub-title: 25px;

  /* Spacing Scale (Base: 2px / 0.125rem) */
  --spacing-unit: 0.125rem;
}

::selection {
  background: none;
  text-shadow: 0 0 6px var(--color-white);
}

/* Font Style */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

h1 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-title);
}

h2 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-title);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-sub-title);
}

p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
}

.p-grey {
  color: var(--color-opa-white);
}

/* Reset */
a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

object {
  pointer-events: none;
}
