* {
  box-sizing: border-box;
  margin: 0;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);

  transition: all 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;

  color: var(--color-white);
  background-color: var(--color-dark);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/grainy.gif);
  background-repeat: repeat;
  opacity: 0.03;
  pointer-events: none;
  z-index: -1;
}

.hero-section {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
}

.hero-image {
  position: relative;
  height: 100%;

  overflow: hidden;
}

.hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(/assets/img/hero/image-hero-1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;

  z-index: -1;
}

main {
  flex: 1;
  width: 100%;
}

section {
  width: 100%;
}

.content {
  width: 100%;
  max-width: 1024px;
}

.title-section {
  width: 100%;
  max-width: 600px;
}

.bio-section {
  width: 100%;
  max-width: 600px;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3.125rem;
  grid-row-gap: 3.125rem;
}

.card {
  width: 100%;
  max-width: 480px;
}

.card img {
  width: 100%;
}

.grid-services {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3.125rem;
  grid-row-gap: 3.125rem;
}

/* Media Queries */
@media screen and (min-width: 2560px) {
  .hero-section {
    height: 70vh;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .hero-section {
    padding: 12px;
  }

  main {
    padding: 0.75rem !important;
  }

  .grid-card {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0.75rem;
    grid-row-gap: 3.125rem;
  }

  .grid-services {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.125rem;
    grid-row-gap: 3.125rem;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --font-size-h1: 5rem;
    --font-size-h2: 5rem;
  }

  .grid-services {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0.75rem;
  }
}

@media screen and (max-width: 425px) {
  :root {
    --font-size-h1: 3rem;
    --font-size-h2: 3rem;
  }

  .title-section div {
    gap: 0.3125rem;
  }

  .title-section div img {
    height: 50px;
  }
}
