* {
  box-sizing: border-box;
  margin: 0;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);

  transition: all 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;

  color: var(--color-white);
  background-color: var(--color-dark);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/grainy.gif);
  background-repeat: repeat;
  opacity: 0.03;
  pointer-events: none;
  z-index: -1;
}

header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  padding: 0.875rem 3.125rem;

  background: var(--color-opa-dark);
  backdrop-filter: blur(10px);
  z-index: 20;
}

.theme-icon {
  cursor: pointer;
  pointer-events: all;
}

.hero-section {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  padding: 3.125rem 3.125rem;
  /* padding: 4.25rem 3.125rem; */
}

.hero-image {
  position: relative;
  height: 100%;

  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;

  z-index: -1;
}

.scroll-down {
  position: absolute;
  transform: translateX(-50%);
  bottom: 30px;
  left: 50%;

  color: var(--color-white);
  opacity: 0.5;
}

.scroll-icon {
  height: 24px;

  --icon-color: var(--color-white);
  animation: bounce 1.5s infinite;
}

.scroll-down:hover {
  opacity: 1;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

main {
  flex: 1;
  width: 100%;
}

section {
  width: 100%;
}

.content {
  width: 100%;
  max-width: 1024px;
}

.title-section {
  width: 100%;
  max-width: 600px;
}

.bio-img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px var(--color-opa-white);
}

.bio-img-1:hover {
  rotate: 5deg;
}

.bio-img-2:hover {
  rotate: -5deg;
}

.bio-img-3:hover {
  rotate: 5deg;
}

.bio-section {
  width: 100%;
  max-width: 600px;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3.125rem;
  grid-row-gap: 3.125rem;
}

.grid-services {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3.125rem;
  grid-row-gap: 3.125rem;
}

footer {
  width: 100%;
}

/* Media Queries */
@media screen and (min-width: 2560px) {
  .hero-section {
    height: 70vh;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  header {
    padding: 0.75rem 0.75rem;
  }

  .hero-section {
    padding: 0.75rem 0.75rem;
  }

  main {
    padding: 0.75rem !important;
  }

  .grid-card {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0.75rem;
    grid-row-gap: 3.125rem;
  }

  .grid-services {
    width: 100%;
    max-width: 480px;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }

  .copy-contact h2 {
    font-size: 3.125rem;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --font-size-h1: 5rem;
    --font-size-h2: 5rem;
  }

  .grid-services {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0.75rem;
  }

  .copy-contact h2 {
    font-size: 2.125rem;
  }
}

@media screen and (max-width: 425px) {
  :root {
    --font-size-h1: 3rem;
    --font-size-h2: 3rem;
  }

  .title-section div {
    gap: 0.3125rem;
  }

  .bio-img {
    height: 50px;
  }

  .copy-contact h2 {
    font-size: 1.5rem;
  }

  footer {
    flex-direction: column;
    align-items: center !important;
    text-align: center;
  }
}
